// Color styles

$bg-color: #f4f5f7;
$green: #1bccaa;
$mustard: #f4a463;
$gray-400: #9ca3af;
$Blue-700: #1f1d59;
$blue-600: #0e5295;
$blue-500: #1f85ea;
$blue-400: #f3f8ff;
$blue-300: #f8f9f9;
$neutral-01: #39374d;
$neutral-02: #5d5e6c;
